customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cakeshop">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="id"/>
              <xs:element type="xs:string" name="fname"/>
              <xs:element type="xs:string" name="mname"/>
              <xs:element type="xs:string" name="lname"/>
              <xs:element type="xs:string" name="street"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="state"/>
              <xs:element type="xs:long" name="phone"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>